.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.floatButton {
  .floatButtonIcon {
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover {
    .floatButtonIcon {
      color: #1677ff;
    }
  }
}
