@import '@/app/styles/breakpoints';

.drawer {
  &.ant-drawer-body {
    padding: 0 !important;
  }
}

.drawerBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawerHeader {
  display: flex;
  justify-content: flex-start;
  gap: 5px;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    flex-direction: column;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 5px;
}

.passwordShowButton {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #bebebe;

  &:hover {
    color: #1677ff;
  }
}
