.login__form {
    text-align: left;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password_button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #bebebe;
    
    &:hover {
        color: #1677ff;
    }
}
