.passwordShowButton {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #bebebe;

  &:hover {
    color: #1677ff;
  }
}
